import /init.recovery.${ro.boot.device}.rc

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    setprop ro.build.system_root_image true

on init
    setprop sys.usb.configfs 1
